<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<form action="/twitter/oauth/keys" method="post">
    <label for="apiKey" />
    <input type="text" name="apiKey" />

    <label for="apiSecret" />
    <input type="text" name="apiSecret" />

    <label for="licenseCode" />
    <input type="hidden" name="licenseCode" value="hello"/>

    <input type="submit" value="Submit" />
</form>

<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
</body>
</html>
