<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
    </head>
    <body>
        Oauth done.
        <script type="text/javascript">
            $(document).ready(function(){

            });
        </script>
    </body>
</html>
