<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<form action="/twitter/tweets" method="post">
    <label for="licenseCode" />
    <input type="text" name="licenseCode" />

    <input type="submit" value="Submit" />
</form>

<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
</body>
</html>
